# Datasets
datasets/


# Virtual environments
.venv/
venv/
.env
.env.*

# IDE / OS
.vscode/
.DS_Store
*.log
.idea/

# Python cache
__pycache__/
.pytest_cache/
*.py[cod]
.ipynb_checkpoints/

# Build
dist/
build/
*.egg-info/


# Artifacts 
outputs/*
!outputs/models/
!outputs/models/.gitkeep
!outputs/figures/
!outputs/figures/.gitkeep
!outputs/reports/
!outputs/reports/.gitkeep
!outputs/logs/
!outputs/logs/.gitkeep


# Weights of models:
*.pth
*.pt
*.onnx
*.engine